<!DOCTYPE html>
<html>

<body>
  <p>
      O produto <%= produto.name %> existe na Unidade e <% if (prodLocal) { %>
          esta disponível para  Retirada imediata <% }else {%>
         estará disponível para ser retirado nesta unidade em alguns dias
         <% } %>
  </p>
</body>

</html>