<!DOCTYPE html>
<html>
  <head>
    <title>Produtos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista de Produtos</h1>
    <p>Me da nota maxima krai!</p>
    <ul>
        <% for (const iterator of productList) { %>                    
            <li> <a href="/checkout?produto=<%= iterator.name %>"><%= iterator.name %> </a> 
                <ul>
                    <li>Valor R$ <%= iterator.preco %> </li>
                </ul>
            </li>
        <% } %>
    </ul>
  </body>
</html>

<script>
    
</script>